<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Cinemax</title>
    <style>
        body {background-color: black;}
        h2 {color: white; font-size: 300%}
        button {cursor: pointer;width: 30%; padding: 10px;}
        button:hover {opacity: 0.5;}
        .container {padding: 80px;}
    </style>
</head>
<body>
<div class="container">
    <h2 style="text-align:center">Welcome to Cinemax</h2>
    <div align="center">
        <button type="submit" formaction="/home/login">Login</button>
        <br><br><br>
        <button type="submit" formaction="/home/register">Register</button>
    </div>
</div>
</body>
